# Python
**/__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
venv/
ENV/

# Packaging / build
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor
.vscode/

# Celery
celerybeat-schedule
celerybeat.pid

# Experiment outputs
experiment/model/**/checkpoint-*
experiment/data/publication
.trash/api-old/.DS_Store
api/.DS_Store
api/app/.DS_Store
